.page-wrapper {
  background: linear-gradient(135deg, #f5f3ff, #ede9fe);
  min-height: 100vh;
  padding: 20px;
}

.form-container {
  max-width: 1200px;
  margin: auto;
  background: #ffffff;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(124, 58, 237, 0.15);
}

.form-title {
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 30px;
  color:  #66BB6A;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-weight: 600;
  margin-bottom: 8px;
  text-align: center;
  color:  #66BB6A;
}

.form-group input,
.form-group select {
  height: 45px;
  padding: 10px;
  border: 2px solid #ddd6fe;
  border-radius: 10px;
  font-size: 15px;
  background: #faf5ff;
  transition: 0.3s;
}

.form-group input:focus,
.form-group select:focus {
  outline: none;
  border-color:  #66BB6A;
  box-shadow: 0 0 10px rgba(124, 58, 237, 0.2);
}

/* Table */

.table-wrapper {
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
  overflow-x: auto;
}

.items-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  background: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(124, 58, 237, 0.1);
}

.items-table th {
  background: linear-gradient(
    135deg,
    #66BB6A,
     #25b32c
  );
  color: white;
  border: 1px solid #c4b5fd;
  padding: 14px;
  text-align: center;
}

.items-table td {
  border: 1px solid #e9d5ff;
  padding: 8px;
}

.items-table tr:nth-child(even) {
  background: #faf5ff;
}

.items-table tr:hover {
  background: #f3e8ff;
}

.items-table td:first-child {
  text-align: center;
  font-weight: bold;
  color:  #66BB6A;
}

.items-table input {
  width: 100%;
  height: 40px;
  border: 1px solid #ddd6fe;
  border-radius: 8px;
  padding: 8px;
  background: #faf5ff;
  box-sizing: border-box;
}

.items-table input:focus {
  outline: none;
  border-color:#66BB6A;
}

/* Item Card */

.item-card {
  border: 1px solid #ddd6fe;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 12px;
  background: #faf5ff;
}

.item-card input {
  width: 100%;
  margin-bottom: 10px;
}

/* Buttons */

.button-group {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.submit-btn {
  background: linear-gradient(
    135deg,
     #66BB6A,
    #1caf24
  );
  color: white;
  border: none;
  padding: 12px 35px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
}

.back-btn {
  background: linear-gradient(
    135deg,
     #66BB6A,
    #1cd125
  );
  color: white;
  border: none;
  padding: 12px 35px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
}

.submit-btn:hover,
.back-btn:hover {
  transform: translateY(-2px);
  transition: 0.3s;
}