.page-wrapper {
    min-height: 100vh;
    background: linear-gradient(135deg,#f5f3ff,#ede9fe);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px !important;
    overflow: hidden;
}

.form-container {
    width: 78% !important;
    max-width: 850px !important;
    background: #ffffff;
    border-radius: 20px;
    padding: 15px 25px !important;
    box-shadow: 0 8px 25px rgba(124,58,237,0.15);
}

.form-title {
    text-align: center;
    font-size: 38px !important;
    color: #66BB6A;
    margin-bottom: 15px !important;
    font-weight: bold;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 20px !important;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-size: 14px !important;
    font-weight: 600;
    margin-bottom: 4px !important;
    text-align: center;
    color: #66BB6A;
}

.form-group input,
.form-group textarea {
    width: 100%;
    height: 42px !important;
    border: 2px solid #ddd6fe;
    border-radius: 12px;
    padding: 8px 12px !important;
    font-size: 14px !important;
    outline: none;
    box-sizing: border-box;
    background: #faf5ff;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #66BB6A;
    box-shadow: 0 0 10px rgba(124,58,237,0.25);
}

.form-group textarea {
    height: 70px !important;
    resize: none;
}

.full-width {
    grid-column: span 2;
}

.button-group {
    display: flex;
    gap: 10px;
    margin-top: 12px !important;
}

.submit-btn,
.back-btn {
    width: 100%;
    padding: 8px !important;
    font-size: 14px !important;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-weight: 600;
}

.submit-btn {
    background: linear-gradient(135deg,#66BB6A,#59bd5e);
}

.submit-btn:hover {
    box-shadow: 0 5px 15px rgba(124,58,237,0.3);
}

.back-btn {
    background: linear-gradient(135deg,#66BB6A,#4cad51);
}

.back-btn:hover {
    box-shadow: 0 5px 15px rgba(147,51,234,0.3);
}
.required {
    color: red;
    font-size: 18px;
    font-weight: bold;
    margin-left: 3px;
}