*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:"Poppins",sans-serif;
  background:linear-gradient(135deg,#f5f3ff,#ede9fe);
}

.top-btns{
  padding:20px;
  min-height:100vh;
}

/* Top Buttons */
.top-buttons{
  display:flex;
  justify-content:space-between;
  margin-bottom:20px;
}

.add-btn,
.back-btn,
.edit-btn,
.delete-btn,
.view-btn,
.share-btn,
.btn-view{
  border:none;
  padding:10px 16px;
  border-radius:12px;
  cursor:pointer;
  color:white;
  font-size:14px;
  font-weight:600;
  margin:3px;
  transition:0.3s;
}

/* Button Colors */
.add-btn{
  background:linear-gradient(135deg,#66BB6A,#31cc39);
}

.add-btn:hover{
  transform:translateY(-2px);
}

.back-btn{
  background:linear-gradient(135deg,#66BB6A,#35993a);
}

.edit-btn{
  background:linear-gradient(135deg,#66BB6A,#37b33d);
}

.delete-btn{
  background:linear-gradient(135deg,#dc2626,#66BB6A);
}

.view-btn{
  background:linear-gradient(135deg,#66BB6A,#32aa38);
}

.share-btn{
  background:linear-gradient(135deg,#66BB6A,#26912c);
}

.btn-view{
  background:linear-gradient(135deg,#66BB6A,#29972f);
}

/* Table */
.rma-table{
  width:100%;
  border-collapse:collapse;
  background:white;
  border-radius:20px;
  overflow:hidden;
  box-shadow:0 10px 30px rgba(56, 236, 95, 0.15);
}

.rma-table thead{
  background:linear-gradient(
    90deg,
    #66BB6A,
    #30a336
  );
  color:white;
}

.rma-table th{
  padding:15px;
  font-size:15px;
}

.rma-table td{
  padding:12px;
  border-bottom:1px solid #ede9fe;
  text-align:center;
}

.rma-table tbody tr:nth-child(even){
  background:#faf5ff;
}

.rma-table tbody tr:hover{
  background:#f3e8ff;
  transition:.3s;
}

/* Status Colors */
.status-open{
  color:#16a34a;
  font-weight:bold;
}

.status-pending{
  color:#ca8a04;
  font-weight:bold;
}

.status-close{
  color:#dc2626;
  font-weight:bold;
}

/* Responsive */
/* @media(max-width:1200px){
  .rma-table{
    display:block;
    overflow-x:auto;
    white-space:nowrap;
  }
}

@media(max-width:768px){

  .top-buttons{
    flex-direction:column;
    gap:10px;
  }

  .add-btn,
  .back-btn{
    width:100%;
  }
} */