*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:"Poppins",sans-serif;
  background:linear-gradient(135deg,#f5f3ff,#ede9fe);
}

.home-container{
  padding:25px;
  min-height:100vh;
}

/* Top Buttons */

.top-buttons{
  display:flex;
  justify-content:space-between;
  margin-bottom:25px;
}

.back-btn,
.add-btn,
.edit-btn,
.delete-btn,
.view-btn,
.share-btn,
.btn-view{
  border:none;
  color:white;
  padding:10px 16px;
  border-radius:12px;
  cursor:pointer;
  margin:2px;
  font-size:14px;
  font-weight:600;
  transition:.3s;
}

.back-btn{
  background:linear-gradient(135deg,#66BB6A,#33a539);
}

.add-btn{
  background:linear-gradient(135deg,#66BB6A,#349b39);
}

.edit-btn{
  background:linear-gradient(135deg,#66BB6A,#2b9731);
}

.delete-btn{
  background:linear-gradient(135deg,#dc2626,#66BB6A);
}

.view-btn{
  background:linear-gradient(135deg,#66BB6A,#34a13a);
}

.share-btn{
  background:linear-gradient(135deg,#66BB6A,#30aa37);
}

.btn-view{
  background:linear-gradient(135deg,#66BB6A,#28992e);
}

.back-btn:hover,
.add-btn:hover,
.edit-btn:hover,
.delete-btn:hover,
.view-btn:hover,
.share-btn:hover,
.btn-view:hover{
  transform:translateY(-2px);
}

/* Table */

table{
  width:100%;
  border-collapse:collapse;
  background:white;
  border-radius:20px;
  overflow:hidden;
  box-shadow:0 10px 30px rgba(42, 207, 92, 0.15);
}

thead{
  background:linear-gradient(
    90deg,
    #66BB6A,
    #249e2a
  );
  color:white;
}

th{
  padding:15px;
  font-size:15px;
  font-weight:600;
}

td{
  padding:12px;
  text-align:center;
  border-bottom:1px solid #ede9fe;
}

tbody tr:nth-child(even){
  background:#faf5ff;
}

tbody tr:hover{
  background:#f3e8ff;
  transition:.3s;
}

/* Status */

.status-open{
  color:#16a34a;
  font-weight:bold;
}

.status-pending{
  color:#ca8a04;
  font-weight:bold;
}

.status-closed{
  color:#dc2626;
  font-weight:bold;
}

/* Responsive */

/* @media(max-width:1200px){
  table{
    display:block;
    overflow-x:auto;
    white-space:nowrap;
  }
}

@media(max-width:768px){

  .top-buttons{
    flex-direction:column;
    gap:10px;
  }

  .back-btn,
  .add-btn{
    width:100%;
  }
} */