/* Main Container */
.home-container {
    min-height: 100vh;
    background: linear-gradient(135deg,#f5f3ff,#ede9fe);
    padding: 110px 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Add Customer Button */
.btn-phone {
    background: linear-gradient(135deg,#66BB6A,#1bad22);
    color: white;
    border: none;
    padding: 12px 22px;
    border-radius: 12px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 4px 12px rgba(45, 219, 68, 0.3);
}

.btn-phone:hover {
    transform: translateY(-2px);
}

/* Table Header */
.styled-table thead tr {
    background: linear-gradient(
        135deg,
        #66BB6A,
        #33bb3a
    );
}

.styled-table th {
    color: white;
    padding: 18px;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
}

/* Row Card Style */
.styled-table tbody tr {
    background: #ffffff;
    box-shadow: 0 4px 18px rgba(39, 221, 85, 0.12);
    transition: 0.3s;
}

.styled-table tbody tr:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 20px rgba(37, 202, 37, 0.2);
}

/* Table Cell */
.styled-table td {
    padding: 20px 15px;
    text-align: center;
    font-size: 14px;
    color: #66BB6A;
    font-weight: 500;
    background: white;
}

/* First Column */
.styled-table tbody tr td:first-child {
    border-radius: 14px 0 0 14px;
    font-weight: bold;
    color: #66BB6A;
}

/* Edit Button */
.btn-edit {
    background: linear-gradient(
        135deg,
        #66BB6A,
        #31b137
    );
}

/* Delete Button */
.btn-delete {
    background: linear-gradient(
        135deg,
        #66BB6A,
        #33d13b
    );
}

/* View Button */
.btn-view {
    background: linear-gradient(
        135deg,
        #66BB6A,
        #2fd638
    );
}

.btn-edit:hover,
.btn-delete:hover,
.btn-view:hover {
    transform: scale(1.05);
}

/* Mobile Labels */
.styled-table td::before {
    color: #66BB6A;
}