.status-input{
    width:250px;
    padding:12px 15px;
    border:2px solid #ddd6fe;
    border-radius:12px;
    font-size:16px;
    outline:none;
    background:#faf5ff;
    color:#4c1d95;
    transition:0.3s;
}

.status-input:focus{
    border-color:#66BB6A;
    box-shadow:0 0 10px rgba(115, 237, 58, 0.25);
}

.status-btns{
    display:flex;
    gap:15px;
    justify-content:center;
    margin-top:20px;
}

.update-btn{
    background:linear-gradient(
        135deg,
        #66BB6A,
        #32d33a
    );
    color:white;
    border:none;
    padding:12px 25px;
    border-radius:12px;
    cursor:pointer;
    font-size:16px;
    font-weight:600;
    transition:0.3s;
}

.update-btn:hover{
    transform:translateY(-2px);
    box-shadow:0 8px 20px rgba(81, 216, 54, 0.35);
}

.completed-btn{
    background:linear-gradient(
        135deg,
        #66BB6A,
        #37cf3f
    );
    color:white;
    border:none;
    padding:12px 25px;
    border-radius:12px;
    cursor:pointer;
    font-size:16px;
    font-weight:600;
    transition:0.3s;
}

.completed-btn:hover{
    transform:translateY(-2px);
    box-shadow:0 8px 20px rgba(57, 234, 51, 0.35);
}