.details-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f5f3ff;
    padding: 15px;
    overflow: hidden;
}

.details-card {
    width: 95%;
    max-width: 1000px;
    background: white;
    border-radius: 20px;
    padding: 20px 30px;
    box-shadow: 0 8px 25px rgba(94, 237, 58, 0.2);
    border-top: 5px solid #66BB6A;
}

.top-section {
    text-align: center;
    margin-bottom: 20px;
}

.top-section h2 {
    font-size: 38px;
    font-weight: bold;
    color: #66BB6A;
    margin: 0 auto 30px;
}

.top-section p {
    color: #66BB6A;
    margin-top: 5px;
}

.details-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.detail-box {
    background: #faf5ff;
    border-left: 5px solid #66BB6A;
    border-radius: 12px;
    padding: 15px;
    text-align: center;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.3s;
}

.detail-box:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(58, 237, 58, 0.2);
}

.detail-box label {
    font-size: 18px;
    font-weight: 700;
    color: #66BB6A;
    margin-bottom: 8px;
}

.detail-box span {
    font-size: 18px;
    color: #312e81;
}

.back-btn {
    width: 250px;
    display: block;
    margin: 20px auto 0;
    background: linear-gradient(135deg, #66BB6A, #2f9c35);
    color: white;
    border: none;
    padding: 12px;
    border-radius: 12px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.back-btn:hover {
    background: linear-gradient(135deg, #66BB6A, #239b29);
    transform: translateY(-2px);
}

/* Tablet */
@media(max-width: 992px) {
    .details-content {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Mobile */
@media(max-width: 600px) {
    .details-content {
        grid-template-columns: 1fr;
    }

    .top-section h2 {
        font-size: 28px;
    }

    .details-card {
        padding: 15px;
    }

    .back-btn {
        width: 100%;
    }
}